#con{
  border: none;
}
h1 {
      font-size: 30px;
      margin-bottom: 50px;

      span {
        font-style: italic;
        font-weight: 300;
      }
}

#button{
  background-color: #5CE1E6;
}
#textArea{
  height: 155px;
}
